//Animation du site


@keyframes animImage{
    from{
        filter: blur(1000px);
    }
    to{
        filter: blur(0);
    }
}

@keyframes animTitre{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}