// Page de style pour les evenements



.evenement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    a{
        img{
            border-radius: 50%;
        }
    }
    h3{ 
        text-align: center;
    }
    h5{
        font-weight: bold;
        text-align: center;
        font-size: 16px;
    }
}

.grilleEvenement{
    display: grid;
    width: 95%;
    margin: 0 auto;
    border: 2px dotted white;
    grid-template-columns:  1fr repeat(3, 2fr);
    grid-template-rows: repeat(32, 1fr);
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        // border: 4px solid white;
    }
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        border: 1px solid white;
    }
}